#authentication_container {
  width: 60%;
  height: 70vh;
  margin: auto;
  margin-top: 8%;
  display: flex;
  /* border: 1px solid; */
}

.authentication_grid {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  width: 100%;
  border-radius: 10px;
  background: #ccc;   
  transition: all 0.3s ease-in-out;
}

.signup_form {
  /* border: 1px solid #ccc; */
  color: #fff;
  padding: 7%;
  border-radius: 10px;
  height: 67vh;
  /* width: 90%; */
  margin-left: 10px;
  margin-right: 5px;
  background: darkcyan;
}

.login_form {
  color: #fff;
  padding: 7%;
  border-radius: 10px;
  /* width: 90%; */
  margin-left: 10px;
  margin-right: 5px;
  background: darkcyan;
}

.signup_form > form {
  height: 45vh;
  overflow: scroll;
  padding-right: 10px;
}

.signup_form > form::-webkit-scrollbar {
  display: none;
}

.signup_form input , .login_form input{
  background: #fff;
  border-radius: 5px;
}

.signup_carousel {
    margin-left: -20px;
}

#signup_btn {
  background: crimson;
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 5px 40px;
}

.slideLeft,
.slideRight {
  position: absolute;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.slideRight {
  left: 48%; /* Adjust based on your layout */
  z-index: 1;
}

.slideLeft {
  left: 2%;
  z-index: 2;
}

/* .slideRight {
  order: 2; 
  transition: all 0.3s ease-in-out; 
}

.slideLeft {
  order: 1; 
  transition: all 0.3s ease-in-out; 
} */
