
#contact_us{
  height: max-content;
  margin-top: 4%;
}

.contact_us_img{
  height: 60vh;
}

@media all and (min-width: 425px) and (max-width:768px){
  .contact_us_img{
    height: 30vh;
  }
}

@media all and (min-width: 100px) and (max-width:425px){
  .contact_us_img{
    height: 30vh;
  }
}