/* <<<<<<<<<<<<<<<< LEFT DASHBOARD CSS >>>>>>>>>>>>>>>>>> */

#sidebar {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 100vh;
  position: relative;
}

#menu_item {
  margin-left: 5%;
  width: 85%;
  border-radius: 10px;
}

#menu_item:hover {
  color: #121b28;
}

/* <<<<<<<<<<<<<<<<  DASHBOARD NAVBAR CSS >>>>>>>>>>>>>>>>>> */

.dashboard_navbar {
  /* border: 1px solid; */
  height: max-content;
  display: flex;
  padding: 2%;
  justify-content: space-between;
  width: 100%;
}

.dashboard_sub_menu {
  display: flex;
  gap: 30px;
  margin-right: 2%;
}

.dashboard_sub_menu p:hover {
  cursor: pointer;
}

/* <<<<<<<<<<<<<<<<<<<<<<<< DASHBOARD MAIN SECTION >>>>>>>>>>>>>>>>> */

#dashboard_main {
  /* border: 1px solid; */
  height: 85vh;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<< DASHBOARD BANK DATA_GRID >>>>>>>>>>>>>>>>>>>>>>> */

.bank_data_grid {
  border: none;
  outline: none;
  /* transition: fade out 5s linear; */
}

#agent_info {
  border-radius: 10px;
  width: 80vw;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#agent_info > div:nth-child(2) {
  display: grid;
  row-gap: 15px;
  column-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 10px;
}

/*  loans records css */

.loan_records_card_details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 7px;
  column-gap: 10px;
  width: 85%;
}