#eligibility_sec {
  /* border: 1px solid #ccc; */
  padding-top: 10%;
  gap: 20%;
  height: 100vh;
}

#eligibility_check {
  height: 70vh;
  /* border: 1px solid #ccc; */
  /* width: 500px; */
}

.eligibility_check_form{
  /* border: 1px solid #ccc; */
  padding: 2%;
}

#application_pencil {
  height: 60vh;
  width: 40vw;
}
