#footer {
  /* border: 1px solid #ccc; */
  background: lavender;
  height: max-content;

}

#footer > div:first-child {
  padding:  3% 5%;
  justify-content: space-between;
}

.footer_logo {
  height: 60px;
}
