#home_a_sec {
  padding-top: 2%;
  display: flex;
  height: 99vh;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: space-around;
}

#home_a_sec > div:first-child {
  width: 90vw;
  /* border: 1px solid; */
  align-items: center;
  justify-content: space-around;
}

.home_1_img {
  max-width: 100%;
  max-height: 70vh;
}

/* ----> HOME B <------- */

#home_b_sec {
  height: max-content;
  margin: auto;
}

#home_b_sec > div {
  display: flex;
  width: 85%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

#home_b_sec > div > div {
  display: flex;
  gap: 15px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2% 1%;
}

.home_b_img {
  height: 20vh;
}

/*  Home C Loans ---------------->  */

#home_c_sec {
  /* border: 1px solid; */
  padding: 2% 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.loans_sec {
  width: 65%;
  /* border: 1px solid; */
  margin: auto;
  justify-content: space-between;
}

/*  Home D Slabs ---------------->  */

#home_d_sec {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

#home_d_sec > div {
  display: flex;
  width: 75%;
  align-items: center;
  margin: auto;
}

.slab_box {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  height: 20vh;
}

.slab_circle {
  border-radius: 2%;
  height: 40vh;
  width: 40%;
  overflow: hidden;
  /* border-radius: 50%; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.slabs_img {
  max-height: max-content;
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
}

#home_d_sec > div:nth-child(2),
#home_d_sec > div:nth-child(4) {
  flex-direction: row-reverse;
}

#home_d_sec > div:nth-child(2) > div,
#home_d_sec > div:nth-child(4) > div {
  text-align: right;
  align-items: flex-end;
  justify-content: center;
}

.slab_box > p,
.slab_box h5 {
  line-break: loose;
}

/* Home E Score -------> */

#home_e_sec > div {
  /* border: 1px solid #ccc; */
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.credit_score_img {
  height: 45vh;
  /* width: 50%; */
}

#home_e_sec > div button {
  padding: 10px 50px;
}

/* home f - testmoinals */

#home_f_sec {
  height: max-content;
}

.testimonials {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  padding-left: 3%;
  padding-top: 3%;
  border-radius: 5px;
  position: relative;

}

.circle_quote {
  background: lightblue;
  padding: 15% 15% 5% 15%;
  height: 100%;
  border-top-left-radius: 35px;
}

.circle_quote > {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.circle_quote img {
  transform: scaleX(-1);
  height: 5vh;
  position: absolute;
  top: 20px;
  left: 15px;
}

/* Home G sec ---------->  */

#home_g_sec {
  padding-top: 5%;
  padding-bottom: 2%;
  margin-bottom: 1%;
}

#home_g_sec > div {
  display:flex;
  gap: 30px;
  animation: move 35s linear infinite;
  white-space: nowrap;
}


@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#home_g_sec > div img {
  height: 50px;
}

/*  */
.carousel_container {
  height: max-content;
  position: relative;
}

.carousel_img {
  height: 7vh;
  width: auto;
  display: block;
  margin: auto;
  /* border: 1px solid; */
  margin-bottom: 15px;
}

#partner_box {
  /* border: 1px solid blue; */
  padding: 0 20px;
}

#carousel_apply_btn {
  display: block;
  margin: auto;
  background: rgb(0, 98, 255);
  color: #fff;
  padding: 5px 25px;
}

#carousel_apply_btn:hover {
  background: white;
  color: rgb(0, 98, 255);
  border: 3px solid rgb(0, 98, 255);
}

/* Add this CSS to your stylesheet */
#slick_prev,
#slick_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  border-radius: 50%;
  padding: 7px 9px;
  width: fit-content;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;

  /* border: none; */
}

#slick_next:hover,
#slick_prev:hover {
  border: 2px solid rgb(0, 98, 255);
  color: #fff;
  background: rgb(0, 98, 255);
}

#slick_prev {
  left: -15%;
}

#slick_next {
  right: -15%;
}



/* <------------------ Calcualiootr Css ---------------------------------> */

.calculated_sheet{
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 10px;
  padding: 5%;
}


/* Media queries mobile */

@media all and (min-width: 100px) and (max-width: 768px) {
  .credit_score_img {
    height: 30vh;
    /* width: 50%; */
  }
}
