.Home {
  overflow-x: hidden;
}

#home_a_sec {
  padding-top: 2%;
  display: flex;
  height: 99vh;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: space-around;
}

#home_a_sec > div:first-child {
  width: 90vw;
  align-items: center;
  margin: auto;
  justify-content: space-around;
}

.home_1_img {
  width: 32vw;
  max-height: 70vh;
}

/* ----> HOME B <------- */

#home_b_sec {
  height: max-content;
  margin: auto;
  margin-bottom: 7%;
}

#home_b_sec > div {
  display: flex;
  width: 85vw;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

#home_b_sec > div > div {
  display: flex;
  gap: 15px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2% 1%;
}

.home_b_img {
  height: 15vh;
  display: block;
  margin: auto;
}

/*  Home C Loans ---------------->  */

#home_c_sec {
  /* border: 1px solid; */
  padding: 2%;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 7%;
}

.loans_sec {
  width: 75vw;
  /* border: 1px solid; */
  margin: auto;
  justify-content: space-between;
}

/*  Home D Slabs ---------------->  */

#home_d_sec {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 5%;
  margin-bottom: 5%;
  /* border: 1px solid red; */
  height: max-content;
}

#home_d_sec > div {
  width: 75vw;
  align-items: center;
  margin: auto;
}

.slab_box {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

#slabs_img {
  height: 50vh;
  width: 30vw;
  display: block;
  margin: auto;
}

#home_d_sec > div:nth-child(2),
#home_d_sec > div:nth-child(4) {
  flex-direction: row-reverse;
}

#right_slab {
  text-align: right;
  align-items: flex-end;
  justify-content: center;
  float: right;
}

.slab_box > p,
.slab_box h5 {
  line-break: loose;
}

/* Home E Score -------> */

#home_e_sec > div {
  /* border: 1px solid #ccc; */
  /* padding: 2%; */
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.credit_score_img {
  height: 40vh;
  width: 35vw;
}

#home_e_sec > div button {
  padding: 10px 50px;
}

/* home f - testmoinals */

#home_f_sec {
  height: max-content;
}

.testimonials {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  padding-left: 3%;
  padding-top: 3%;
  border-radius: 5px;
  position: relative;
  background: #f0f5f9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circle_quote {
  padding: 15% 15% 5% 15%;
  height: 100%;
  border-top-left-radius: 35px;
}

.circle_quote > {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.circle_quote img {
  transform: scaleX(-1);
  height: 5vh;
  position: absolute;
  top: 20px;
  left: 15px;
}

/* Home G sec ---------->  */

#home_g_sec {
  padding-top: 5%;
  padding-bottom: 2%;
  margin-bottom: 1%;
}

.partner_grid {
  /* border: 1px solid #ccc; */
  display: grid;
  width: 70%;
  margin: auto;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  /* animation: move 35s linear infinite;
  white-space: nowrap; */
}

/* 
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} */

#home_g_sec > div img {
  height: 40px;
  display: block;
  margin: auto;
}

/*  */
.carousel_container {
  height: max-content;
  position: relative;
}

.carousel_img {
  height: 5vh;
  width: auto;
  display: block;
  margin: auto;
  /* border: 1px solid; */
  margin-bottom: 15px;
}

#partner_box {
  /* border: 1px solid blue; */
  padding: 0 20px;
}

#carousel_apply_btn {
  display: block;
  margin: auto;
  color: #fff;
  background-color: #121b28;
  padding: 5px 25px;
}

#carousel_apply_btn:hover {
  background: white;
  color: #121b28;
  border: 3px solid #121b28;
}

/* Add this CSS to your stylesheet */
#slick_prev,
#slick_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  border-radius: 50%;
  padding: 7px 9px;
  width: fit-content;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;

  /* border: none; */
}

#slick_next:hover,
#slick_prev:hover {
  border: 2px solid #121b28;
  color: #fff;
  background: #121b28;
}

#slick_prev {
  left: -15%;
}

#slick_next {
  right: -15%;
}

/* <------------------ Calcualiootr Css ---------------------------------> */

.calculated_sheet {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 10px;
  padding: 5%;
}

/* <--------------------- Financial Literacy CSS */

.financial_literacy_img {
  height: 45vh;
}

.know_why{
  display:flex;
  width:80vw;
  justify-content:space-around;
  align-items:center;
  margin:auto;
  gap: 20px;
  margin-bottom: 5%;
}


.know_why div {
  padding: 5% 4%;
  width: 45vw;
  height: 30vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.know_why div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.know_why div img {
  height: 20vh;
  display: block;
  margin: auto;
}

.loan_increase_img{
  height: 50vh;
  display: block;
  margin: auto;
}


/* Media queries mobile */

@media all and (min-width: 100px) and (max-width: 426px) {
  #home_a_sec {
    padding-top: 7%;
  }

  .home_1_img {
    max-width: 100%;
    max-height: 30vh;
    display: block;
    margin: auto;
  }

  #home_c_sec {
    margin-top: 15%;
  }

  .home_b_img {
    height: 15vh;
  }

  #slabs_img {
    height: 100px;
  }

  .partner_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .credit_score_img {
    height: 15vh;
    width: 45vw;
  }

  .know_why{
    flex-direction: column;
    width: 60%;
  }

  .know_why div img {
    height: 15vh;
    display: block;
    margin: auto;
  }

  .loan_increase_img{
    height: 30vh;
    display: block;
    margin: auto;
  }

}

@media all and (min-width: 426px) and (max-width: 769px) {
  .partner_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .credit_score_img {
    height: 25vh;
    width: 45vw;
  }

  #slabs_img {
    height: 25vh;
  }
}
