.navbar {
  height: max-content;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  /* border: 1px solid; */
  padding: 10px 0px;
}

.navbar > div:first-child{
  margin-left: 10%;
}

.navbar:hover {
  cursor: pointer;
}

.navbar_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-right: 2%;
}

.nav_logo {
  height: 35px;
}

.navbar_menu > div:first-child {
  /* border: 1px solid; */
  display: flex;
  margin-right: 20px;
  gap: 50px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.user_section {
  display: flex;
  border: 1px soild;
}

a {
  text-decoration: none;
}

#hamburger_menu {
  display: none;
}

.drawer_icon {
  height: 5vh;
  /* border: 1px solid #ccc; */
  margin-top: 20px;
  margin-bottom: 20px;
}

#products_btn,
#resource_btn {
  position: relative;
  display: flex;
  cursor: pointer;
}

.submenus:hover {
  font-weight: 600;
}

.subnav {
  position: relative;
  display: inline-block;
}

.subnav .products_menu,
.subnav .resource_menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -75%;
  z-index: 1;
  padding: 20px;
  padding-top: 40%;
  border-radius: 5px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.subnav:hover .products_menu,
.subnav:hover .resource_menu {
  display: flex;
  gap: 40px;
  width: max-content;
}

@media all and (min-width: 100px) and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .navbar_menu {
    display: none;
  }

  a {
    text-decoration: none;
  }

  #hamburger_menu {
    display: block;
    margin-right: 5%;
  }
}
