.navbar {
  height: max-content;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
  display: flex;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5% 10px 10%;
  /* gap: 40% ; */
  /* background: lightgoldenrodyellow; */
  z-index: 999;
}

.navbar:hover{
  cursor: pointer;
}

.navbar_menu {
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.nav_logo {
  height: 35px;
}

.navbar_menu > div:first-child {
  /* border: 1px solid; */
  display: flex;
  margin-right: 20px;
  gap: 50px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.navbar_menu > div:first-child > button {
  text-transform: capitalize;
  font-size: medium;
}

.user_section {
  display: flex;
}

.products_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.products_menu a {
  text-decoration: none;
}

#hamburger_menu {
  display: none;
}

.drawer_icon {
  height: 5vh;
  /* border: 1px solid #ccc; */
  margin-top: 20px;
  margin-bottom: 20px;
}

#products_btn,
#resource_btn {
  position: relative;
  display: flex;
  cursor: pointer;
}

.products_menu p:hover,
.resource_menu p:hover {
  font-weight: 600;
}

.resource_menu,
.products_menu {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  position: absolute;
  cursor: pointer;
  top: 100%;
  width: 40%;
  padding: 1% 2%;
  display: flex;
  justify-content: space-around;
  gap: 30px;
  border-radius: 5px;
}




@media all and (min-width: 100px) and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .navbar_menu {
    display: none;
  }

  a {
    text-decoration: none;
  }

  #hamburger_menu {
    display: block;
  }
}
